<!DOCTYPE html>
<html lang="ru" style="--bs-body-bg: #003f54;" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Вход</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body>
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Вход</h2>
            </div>
        </div>
        <div th:if="${param.error}" class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div class="alert alert-warning" role="alert">
                    <strong>Некорректный ввод логина или пароля!</strong>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <form action="/login" method="post">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col"><input class="form-control" type="text" name="username" placeholder="Логин">
                        </div>
                        <div class="col"><input class="form-control" type="password" name="password"
                                                placeholder="Пароль"></div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-bottom: 10px;">
                            <button class="btn btn-primary" type="submit" style="min-width: 100%;">Вход</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><a class="btn btn-light" role="button" href="/reg" style="min-width: 100%;">Регистрация</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bold-and-dark.js"></script>
</body>

</html>