<!DOCTYPE html>
<html lang="ru" style="--bs-body-bg: #003f54;" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Регистрация</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="--bs-body-bg: #003f54;">
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Регистрация</h2>
            </div>
        </div>
        <div th:if="${message}" class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div class="alert alert-warning" role="alert">
                    <strong th:text="${message}"></strong>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <form action="/reg" method="post">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col"><input class="form-control" type="text" name="username" placeholder="Логин">
                        </div>
                        <div class="col"><input class="form-control" type="password" name="password"
                                                placeholder="Пароль"></div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-bottom: 10px;">
                            <button class="btn btn-primary" type="submit"
                                    style="min-width: 100%;--bs-body-bg: #003f54;">Регистрация
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><a class="btn btn-light" role="button" href="/login" style="min-width: 100%;">Вход</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bold-and-dark.js"></script>
</body>

</html>